Python's string
---------------

#### 1. 문자열 표현

In [1]:
print('Hello world!')
print("My name is OVi,")
print('''Python is
so funny''')
print("""and easy
than other langueges""")
# 4가지의 표현법
# 따옴표 3개 표현은 긴 문장등을 깔끔하게 보기 위해서 작성 / 여러줄로 작성 가능

Hello world!
My name is OVi,
Python is
so funny
and easy
than other langueges

In [2]:
# 따옴표 문자열로 표현
print("Python's great languege") # 문자열을 큰 따옴표로 감싸고 작은 따옴표는 그대로 작성
print('it\'s not that hard') # \' 로 표현
print('\"Life is short, You need PYthon\"') # \" 로 표현

Python's great languege
it's not that hard
"Life is short, You need PYthon"

In [3]:
print('\\') # \ 역슬래쉬 표현
print('a\nb') # 줄바꿈 (개행)
print('a\tb') # 탭크기 만큼 띄어쓰기

\
a
b
a	b

#### 2.문자열 연산

In [4]:
# string concatenation in +
head = 'My name is '
tail = 'OVi'
head + tail

'My name is OVi'

In [5]:
# string Multiplication
tail * 2

'OViOVi'

In [6]:
# application
print('=' * 50)
print('My program from 2023.03.08')
print('=' * 50)

==================================================
My program from 2023.03.08
==================================================

In [7]:
# string length
a = 'Life is short You need Python'
len(a)
# 공백도 포함

29

#### 3. 문자열 인덱싱과 슬라이스

In [8]:
a = 'Life is short You need Python'

In [9]:
# Python's number count starting 0
a[0]

'L'

In [10]:
# - 는 뒤부터 출력
a[-1] # 맨 뒤

'n'

In [11]:
# slicing
# [start:end] <- end는 출력되지 않고 바로 앞 문자까지 출력 됨
print(a[0:4])
print(a[0:3])

# end를 지정하지 않으면 끝까지 출력
print(a[14:])
# 반대로  start를 지정하지 않으면 처음부터 end바로 전까지 출력
print(a[:14])
# 둘다 생략하면 문자열 전체 출력
print(a[:])

# 응용
print(a[14:-7])

Life
Lif
You need Python
Life is short
Life is short You need Python
You need

In [12]:
# 슬라이싱으로 문자열 나누기
a = '20230308cloudy'
date = a[:8]
weather = a[8:]

In [13]:
date

'20230308'

In [14]:
weather

'cloudy'

In [15]:
# 문자열 바꾸기
a = 'Pithon'
a[:1] + 'y' + a[2:]
# 문자열은 인덱싱으로 내용을 바꾸어서 대입하는 것은 불가능

'Python'

#### 4.문자열 포멧팅

In [16]:
# 문자열 안에 특정 값을 삽입할때 사용

# 숫자 대입
'I\'m jogging %d hours everyday' % 2

"I'm jogging 2 hours everyday"

In [17]:
# 문자 대입
'I\'m jogging %s hours everyday' % 'two'

"I'm jogging two hours everyday"

In [18]:
# 변수 설정
number = 2
'I\'m jogging %d hours everyday' % number

"I'm jogging 2 hours everyday"

In [19]:
# 2개 이상의 값 넣기
number = 7
time = 'five'
'I slept %d hours last night, and waken at %s am' % (number, time) # 콤마로 구분

'I slept 7 hours last night, and waken at five am'

In [20]:
# 문자열 포멧 코드
%s  # 문자열 (string)
%c  # 문자 1개 (character)
%d  # 정수 (integer)
%f  # 부동소수 (floating-point)
%o  # 8진수
%x  # 16진수
%%  # Literal % (% 문자 자체)

UsageError: Line magic function `%s` not found.

In [21]:
# %s는 모든 입력을 문자열로 변환하여 출력
'%s seconds' % 52.132

'52.132 seconds'

In [22]:
# 포멧코드 앞에 숫자를 넣으면 문자열의 전체 길이를 지정하고 대입되는 값은 오른쪽 정렬
'%10s' % 'Hello'

'     Hello'

In [23]:
# 왼쪽 정렬
'%-10sworld' % 'Hello'

'Hello     world'

In [24]:
# 소숫점 표현
'%0.4f' % 3.141592 # 네자리 까지만 표현

'3.1416'

In [25]:
# 공백과 같이 표현
'%10.4f' % 3.141592 # 길이를 10으로 고정하고 소수점 아래 네자리 까지만 표현

'    3.1416'

* format 함수 사용

In [26]:
# 숫자 대입
'I slept {0} hours last night'.format(7)

'I slept 7 hours last night'

In [27]:
# 문자 대입
'I slept {0} hours last night'.format('seven')

'I slept seven hours last night'

In [28]:
# 변수 대입
number = 7
'I slept {0} hours last night'.format(number)

'I slept 7 hours last night'

In [29]:
# 변수 2개 이상 대입하기
number = 'seven'
time = 5
'I slept {0} hours last night, and waken at {1} am'.format(number, time) # 콤마로 구분
# 매칭되는 format의 인자 순서와 인덱스 순서에 따라 대입

'I slept seven hours last night, and waken at 5 am'

In [30]:
# 이름으로 넣기
'I slept {number} hours last night, and waken at {time} am'.format(number = 'seven', time = 5) # 콤마로 구분
# 대괄호 안에 변수의 이름을 넣어주면 직관적으로 알기 쉽다는 장점이 있음
# {name}의 형태로 대입할 때는 format함수에 name=value 형대로 지정을 해줘야 함

'I slept seven hours last night, and waken at 5 am'

In [31]:
# 왼쪽 정렬
"{0:<10}".format('Hello')
# 오른쪽 정렬
"{0:>10}".format('Hello')
# 가운데 정렬
"{0:^10}".format('Hello')

'  Hello   '

In [32]:
# 공백 채우기
"{0:=^11}".format('Hello')

'===Hello==='

In [33]:
# 소숫점 표현
a = 3.141592
"{0:0.4f}".format(a)

'3.1416'

In [34]:
# { } 문자 표현
"{{a}}".format()

'{a}'

#### f 문자열 포멧팅  
*파이썬 3.6버전부터 가능

In [35]:
name = 'OVi'
age = 28
f'My name is {name}, and my age is {age}'

'My name is OVi, and my age is 28'

In [36]:
# 딕셔너리로도 사용 가능
info = {'name':'OVi', 'age':28}
f'My name is {info["name"]}, and my age is {info["age"]}'

'My name is OVi, and my age is 28'

In [37]:
# 변수와 수식을 같이 사용하는것도 가능
f'Age : {age+1}'

'Age : 29'

In [38]:
# 왼쪽 정렬
f'{"Hello":<10}'
# 오른쪽 정렬
f'{"Hello":>10}'
# 가운데 정렬
f'{"Hello":^10}'

'  Hello   '

In [39]:
# 공백 채우기
# 왼쪽 정렬
f'{"Hello":=^11}'

'===Hello==='

In [40]:
# 소숫점
a = 3.141592
f'{a:0.4f}'

'3.1416'

In [41]:
# { } 문자 표현
f'{{a}}'

'{a}'

#### string functions

In [42]:
# 문자 개수 세기 (count)
c = 'Hello'
c.count('l')
# 문자열에서 인자의 문자의 개수를 반환

2

In [43]:
# 문자 위치 찾기 (find)
c = 'Life is short, You need Python'
c.find('e')
# 동일한 문자가 여러개 있을경우 가장 앞에 있는 문자의 위치 반환

3

In [44]:
# 찾는 문자나 문자열이 없는경우 -1 반환
c.find('z')

-1

In [45]:
# 문자 위치 찾기 (index)
a = "Life is too short"
a.index('t')
# index도 동일하게 같은 문자가 있으면 앞에있는 문자의 위치 반환

8

In [46]:
# 단, index함수는 없는 문자나 문자열일 경우 오류 발생
a.index('z')

ValueError: substring not found

In [47]:
# 문자열 삽입 (join)
','.join('abcd')
# 인자의 문자열 사이에 지정한 구분기호 삽입

'a,b,c,d'

In [48]:
# 리스트나 튜플도 사용 가능
','.join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [49]:
# 소문자를 대문자로 변경 (upper)
a = 'hello'
a.upper()

'HELLO'

In [50]:
# 대문자를 소문자로 변경 (lower)
a = 'HELLO'
a.lower()

'hello'

In [51]:
# 왼쪽 공백 지우기 (lstrip)
a = '  Hello  '
a.lstrip()

'Hello  '

In [52]:
# 오른쪽 공백 지우기 (rstrip)
a.rstrip()

'  Hello'

In [53]:
# 양쪽 공백 지우기 (strip)
a.strip()

'Hello'

In [54]:
# 문자열 바꾸기 (replace)
a = 'Life is short'
a.replace('short', 'long')

'Life is long'

In [55]:
# 문자열 나누기 (split)
a = 'Life is short'
a.split()
# 리스트로 반환
# 인자에 구분기호를 지정해주면 구분기호기준으로 문자열을 분리

['Life', 'is', 'short']